
// Colors de la Bob Ross


$prussian-blue: #021E44;
$crimson: #4E1500;
$bright-red: #DB0000;
$indian-yellow: #FFB800;
$phtalo-blue: #0C0040;
$yellow-ochre: #C79B00;
$sap-green: #0A3410;
$phtalo-green: #102E3C;



@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// Let's use the Bob Ross colors!!!!

body{
  background-color: $indian-yellow;
  font-family: "Helvetica", sans-serif;
}

header{
  text-align: center;
  color: $indian-yellow;
  background-color: $sap-green;
  border: 4px solid $yellow-ochre;
  border-radius: 15px;
  font-size: 50px;
  margin-top: 10px;
}

.btn{
  background-color: $yellow-ochre;
  margin-top: 5px;
  margin-bottom: 5px;

}

.btn:hover{
  background-color: $phtalo-blue;
  color: white;
}

.select{
  border: 4px solid $yellow-ochre;
  border-radius: 15px;
  margin-top: 10px;
  padding-top: 10px;
}

.guess-display{
  color: $yellow-ochre;
  background-color: $prussian-blue;
  border: 4px solid $yellow-ochre;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
  padding-bottom: 38px;
}


.pick{
  text-align: center;

}
//This is temporary until I get a field to add the animation to
.hangman-pic{
  background-color: white;
  text-align: center;
  border: 4px solid $yellow-ochre;
  border-radius: 15px;
  // height: 300px;
  font-size: 60px;
  margin-top: 10px;
}
